<!DOCTYPE html>
<html lang="pt-BR">
<body>

    <!-- Incluindo o CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style-RAVLT.css') }}">



    <!-- Logo -->
    <div class="logo">
        <img src="{{ url_for('static', filename='images/logo.JPEG') }}" alt="Logo">
    </div>

    <!-- Container do Formulário -->
    <div class="container">
        <h1>RAVLT - Teste Auditivo Verbal de Rey</h1>
        <form method="POST" action="URL_DO_SCRIPT_DO_GOOGLE">
            <div class="form-group">
                <label for="idade">Idade:</label>
                <input type="number" id="idade" name="idade" required>
            </div>

            <div class="form-group">
                <label for="a1">A1:</label>
                <input type="text" id="a1" name="a1">
            </div>
            
            <div class="form-group">
                <label for="a2">A2:</label>
                <input type="text" id="a2" name="a2">
            </div>

            <div class="form-group">
                <label for="a3">A3:</label>
                <input type="text" id="a3" name="a3">
            </div>

            <div class="form-group">
                <label for="a4">A4:</label>
                <input type="text" id="a4" name="a4">
            </div>

            <div class="form-group">
                <label for="a5">A5:</label>
                <input type="text" id="a5" name="a5">
            </div>

            <div class="form-group">
                <label for="b1">B1:</label>
                <input type="text" id="b1" name="b1">
            </div>

            <div class="form-group">
                <label for="a6">A6:</label>
                <input type="text" id="a6" name="a6">
            </div>

            <div class="form-group">
                <label for="a7">A7:</label>
                <input type="text" id="a7" name="a7">
            </div>

            <div class="form-group">
                <label for="reconhecimento">Reconhecimento:</label>
                <input type="text" id="reconhecimento" name="reconhecimento">
            </div>

            <div class="form-group">
                <input type="submit" value="Enviar">
            </div>
        </form>
    </div>

    <!-- Footer -->
    <footer>
        <p>Sistema desenvolvido por Arlindo Neto e Carlos.</p>
        <a href="https://www.instagram.com/neto.darllin" target="_blank">
            <img src="{{ url_for('static', filename='images/instagram-icon.svg') }}" alt="Instagram Icon" id="instagram-icon">
            @neto.darllin
        </a>
    </footer>

</body>
</html>
