<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Formulário RAVLT</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style-RAVLT.css') }}">
</head>
<body>

    <h1>Formulário do Teste RAVLT</h1>
    <form method="POST" action="URL_DO_SCRIPT_DO_GOOGLE">
        
        <div class="form-group">
            <label for="idade">Idade:</label>
            <input type="number" id="idade" name="idade" required>
        </div>

        <div class="form-group">
            <label for="a1">A1:</label>
            <input type="text" id="a1" name="a1">
        </div>
        
        <div class="form-group">
            <label for="a2">A2:</label>
            <input type="text" id="a2" name="a2">
        </div>

        <div class="form-group">
            <label for="a3">A3:</label>
            <input type="text" id="a3" name="a3">
        </div>

        <div class="form-group">
            <label for="a4">A4:</label>
            <input type="text" id="a4" name="a4">
        </div>

        <div class="form-group">
            <label for="a5">A5:</label>
            <input type="text" id="a5" name="a5">
        </div>

        <div class="form-group">
            <label for="b1">B1:</label>
            <input type="text" id="b1" name="b1">
        </div>

        <div class="form-group">
            <label for="a6">A6:</label>
            <input type="text" id="a6" name="a6">
        </div>

        <div class="form-group">
            <label for="a7">A7:</label>
            <input type="text" id="a7" name="a7">
        </div>

        <div class="form-group">
            <label for="reconhecimento">Reconhecimento:</label>
            <input type="text" id="reconhecimento" name="reconhecimento">
        </div>

        <div class="form-group">
            <input type="submit" value="Enviar">
        </div>
    </form>

</body>
</html>
